.wp-block-tiwit-images-bundle-images-comparison:not(.juxtapose) {
	display: flex;
	justify-content: space-between;
	align-items: center;

	img,
	.components-placeholder {
		flex-basis: 49.5%;
		width: 49.5%;
	}
}
.juxtapose .jx-knightlab{
	display: none;
}
.wp-block-tiwit-images-bundle-images-comparison-button {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		font-size: 13px;
}
